h1{text-align:center; color:#0000FF; font-family:Verdana; font-size:20pt}
h2{text-align:right; color:#800000; font-family:Verdana; font-size:16pt}
p{text-align:justify; color:#191970; font-family:Arial; font-size:12pt; font-weight: bolder}
body{background:url(fon9.jpg);}
h3{text-align:left; color:#880000; font-family:Verdana; font-size:10pt}
ol{list-style-type: upper-roman }
ul {list-style-image: url(spisok_1.gif)}

h1.main, h1.golub, h1.krasn, h1.zelen, h1.oranzhev{
	font-family: Verdana;text-align: left;font-size: 14pt
}
h1.main{ color: navy}
h1.golub{ color: blue}
h1.krasn{ color: red}
h1.zelen{ color: green}
h1.oranzhev{ color: orange}

p.one, p.two, p.three, p.four, p.five{
	font-family: Verdana;font-size: 12pt
}
p.one{ text-align: center; color: navy; }
p.two{text-align: left; color: blue;}
p.three{text-align: right; color: red;}
p.four{text-align: justify; color: green;}
p.five{text-align: center; color: orange;}